html {
  height: 100%;
  display: grid;
  grid-template-rows: min-content auto;
  font-family: "Montserrat", "Arial", sans-serif;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-main {
  width: 1290px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: auto auto;
  padding-bottom: 132px;

  &--menu-open {
    display: none;
  }
}
